@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(94, 94, 94);
}


body{
    background-image: url(../imagens/fundo-madeira.jpg);
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

main{
    height: 100vh;
    position: relative;
    
}

section#telefone{
    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 311px;
    height: 627px;       
}

iframe#tela{
    position: relative;
    top:80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

section#redes-sociais{
    text-align: right;
}

section#redes-sociais img{
    width: 60px;
    border-radius: 100%;
    margin: 20px;
    box-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.582);
    box-sizing: border-box ;   
}

section#redes-sociais img:hover{
    border: 3px solid rgba(44, 44, 44, 0.753);
    transform: translate(-4px, -4px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.514);
    transition:  transform .5s;
    
}